<!DOCTYPE html>
<html lang="ja" xmins:th="http://ww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS | Login</title>
</head>
<body>
    <header>
        <h1>ログイン画面</h1>
    </header>
    <main>
        <table>
            <tr>
                <th>
                </th>
                <th>
                    username
                </th>
                <th>
                    email
                </th>
            </tr>
            <tr>
                <form role="form" th:action="@{/login}" th:object="${userForm}" method="get">
                    <td>
                        <input class="submit-input" type="submit" value="ログイン"/>
                    </td>
                    <td>
                        <input type="text" required th:field="*{username}" />
                    </td>
                    <td>
                        <input type="email" required th:field="*{email}" />
                    </td>
                </form>
            </tr>
        </table>
        <footer>

        </footer>

    </main>


</body>
</html>